
@{
    ViewBag.Title = "Case";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <!-- nav部分 -->
    <div class="nav">
        <div class="layui-container">
            <!-- 公司logo -->
            <div class="nav-logo">
                <a href="index.html">
                    <img src="~/Content/res/static/img/logo.png" alt="类友网络">
                </a>
            </div>
            <div class="nav-list">
                <button>
                    <span></span><span></span><span></span>
                </button>
                <ul class="layui-nav" lay-filter="">
                    <li class="layui-nav-item"><a href="/home/index">首页</a></li>
                    <li class="layui-nav-item"><a href="/home/product">产品</a></li>
                    <li class="layui-nav-item"><a href="/home/news">动态</a></li>
                    <li class="layui-nav-item  layui-this"><a href="/home/case">案例</a></li>
                    <li class="layui-nav-item"><a href="/home/about">关于</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- banner部分 -->
    <div class="banner case">
        <div class="title">
            <p>成功案例</p>
            <p class="en">Successful Case</p>
        </div>
    </div>
    <!-- main部分 -->
    <div class="main-case">
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-inline content">
                    <div class="layui-inline case-img"><img src="~/Content/res/static/img/case1.jpg"></div>
                    <p class="lable">名牌工厂店</p>
                    <p>一家工厂企业的商品展示网站，主要以卖高端服饰为主。主要以卖高端服饰为主。主要以卖高端服饰为主。</p>
                </div>
                <div class="layui-inline content even center">
                    <div class="layui-inline case-img"><img src="~/Content/res/static/img/case2.jpg"></div>
                    <p class="lable">名牌工厂店</p>
                    <p>一家工厂企业的商品展示网站，主要以卖高端服饰为主。主要以卖高端服饰为主。主要以卖高端服饰为主。</p>
                </div>
                <div class="layui-inline content">
                    <div class="layui-inline case-img"><img src="~/Content/res/static/img/case3.jpg"></div>
                    <p class="lable">名牌工厂店</p>
                    <p>一家工厂企业的商品展示网站，主要以卖高端服饰为主。主要以卖高端服饰为主。主要以卖高端服饰为主。</p>
                </div>
                <div class="layui-inline content even">
                    <div class="layui-inline case-img"><img src="~/Content/res/static/img/case4.jpg"></div>
                    <p class="lable">名牌工厂店</p>
                    <p>一家工厂企业的商品展示网站，主要以卖高端服饰为主。主要以卖高端服饰为主。主要以卖高端服饰为主。</p>
                </div>
                <div class="layui-inline content center">
                    <div class="layui-inline case-img"><img src="~/Content/res/static/img/case5.jpg"></div>
                    <p class="lable">名牌工厂店</p>
                    <p>一家工厂企业的商品展示网站，主要以卖高端服饰为主。主要以卖高端服饰为主。主要以卖高端服饰为主。</p>
                </div>
                <div class="layui-inline content even">
                    <div class="layui-inline case-img"><img src="~/Content/res/static/img/case6.jpg"></div>
                    <p class="lable">名牌工厂店</p>
                    <p>一家工厂企业的商品展示网站，主要以卖高端服饰为主。主要以卖高端服饰为主。主要以卖高端服饰为主。</p>
                </div>
                <div class="layui-inline content">
                    <div class="layui-inline case-img"><img src="~/Content/res/static/img/case7.jpg"></div>
                    <p class="lable">名牌工厂店</p>
                    <p>一家工厂企业的商品展示网站，主要以卖高端服饰为主。主要以卖高端服饰为主。主要以卖高端服饰为主。</p>
                </div>
                <div class="layui-inline content even center">
                    <div class="layui-inline case-img"><img src="~/Content/res/static/img/case8.jpg"></div>
                    <p class="lable">名牌工厂店</p>
                    <p>一家工厂企业的商品展示网站，主要以卖高端服饰为主。主要以卖高端服饰为主。主要以卖高端服饰为主。</p>
                </div>
                <div class="layui-inline content">
                    <div class="layui-inline case-img"><img src="~/Content/res/static/img/case9.jpg"></div>
                    <p class="lable">名牌工厂店</p>
                    <p>一家工厂企业的商品展示网站，主要以卖高端服饰为主。主要以卖高端服饰为主。主要以卖高端服饰为主。</p>
                </div>
            </div>
            <div id="casePage"></div>
        </div>
    </div>
   