
@{
    ViewBag.Title = "天津知齐家具有限公司";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!-- nav部分 -->
    <div class="nav">
        <div class="layui-container">
            <!-- 公司logo -->
            <div class="nav-logo">
                <a href="index.html">
                    <img src="~/Content/res/static/img/logo.png" alt="类友网络">
                </a>
            </div>
            <div class="nav-list">
                <button>
                    <span></span><span></span><span></span>
                </button>
                <ul class="layui-nav" lay-filter="">
                    <li class="layui-nav-item"><a href="/home/index">首页</a></li>
                    <li class="layui-nav-item  layui-this"><a href="/home/product">产品</a></li>
                    <li class="layui-nav-item "><a href="/home/news">动态</a></li>
                    <li class="layui-nav-item"><a href="/home/case">案例</a></li>
                    <li class="layui-nav-item"><a href="/home/about">关于</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- banner部分 -->
    <div class="banner product">
        <div class="title">
            <p>产品展示</p>
            <p class="en">Product Display</p>
        </div>
    </div>
    <!-- main部分 -->
    <div class="main product">
        <div class="layui-container">
            <div class="content layui-row">
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img src="~/Content/res/static/img/Product_img1.jpg"></div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">
                    <p class="label">座椅</p>
                    <p class="detail">从小屏逐步扩展到大屏，最终实现所有屏幕适配，最终实现所有屏幕适配，适应移动互联潮流。最终实现所有屏幕适配，适应移动互联潮流。最终实现所有屏幕适配，适应移动互联潮流。</p>
                    <div><a href="javascript:;">查看产品 ></a></div>
                </div>
            </div>
            <div class="content layui-row">
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img src="~/Content/res/static/img/Product_img2.jpg"></div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">
                    <p class="label">CSS处理</p>
                    <p class="detail">从小屏逐步扩展到大屏，最终实现所有屏幕适配，最终实现所有屏幕适配，适应移动互联潮流。最终实现所有屏幕适配，适应移动互联潮流。最终实现所有屏幕适配，适应移动互联潮流。</p>
                    <div><a href="javascript:;">查看产品 ></a></div>
                </div>
            </div>
            <div class="content layui-row">
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img src="~/Content/res/static/img/Product_img3.jpg"></div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">
                    <p class="label">兼容性</p>
                    <p class="detail">从小屏逐步扩展到大屏，最终实现所有屏幕适配，最终实现所有屏幕适配，适应移动互联潮流。最终实现所有屏幕适配，适应移动互联潮流。最终实现所有屏幕适配，适应移动互联潮流。</p>
                    <div><a href="javascript:;">查看产品 ></a></div>
                </div>
            </div>
            <div class="content layui-row">
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img src="~/Content/res/static/img/Product_img4.jpg"></div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">
                    <p class="label">响应式</p>
                    <p class="detail">从小屏逐步扩展到大屏，最终实现所有屏幕适配，最终实现所有屏幕适配，适应移动互联潮流。最终实现所有屏幕适配，适应移动互联潮流。最终实现所有屏幕适配，适应移动互联潮流。</p>
                    <div><a href="javascript:;">查看产品 ></a></div>
                </div>
            </div>
        </div>
    </div>
 
